/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 230%;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    text-align: left;
    font-size: 16px;
}

input[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #34a6cc;
    color: black;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #34a6cc;
    border: 1%;
    border-color: black;
}

#inputBackground {
    background-image: url("data/inputBackground.png");
}

.center {   
    text-align: center; 
}

th {
    background-color: #92d2e7;
    border: 2px solid;
    border-color: black; 
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    border-collapse: collapse;
}

td {
    border: 2px solid;
    border-radius: 10px;
    border-color: black; 
    border-collapse: collapse;
    text-align: left;
    background-color: rgb(234, 234, 234);
}

table {
    border: 2px solid;
    border-color: black; 
    border-collapse: collapse;
    width: 80%;
    height: 145px;
    font-size: 130%;
    border-radius: 10px;
    border-collapse: collapse;
}

.table-container {
    border-radius: 30px;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}

#weather-background {
    background-image: url("data/lightBlue.jpg");
}