<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body id="inputBackground">
    <h1 class="center">Weather App</h1>
    <form method="post">
        <label class="center" for="city">Enter City:</label>
        <input class="center" type="text" id="city" name="city" required>
        <input class="center" type="submit" value="Get Weather">
    </form>
</body>
</html>
