<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="center" id="weather-background">
    <h1>Weather Information for {{ city }}</h1>
    {% if weather_data %}
        <div class="table-container">
            <table>
                <tr>
                <th>Description</th>
                <th>Temperature</th>
                <th>Feels like</th>
                <th>Minimum temperature</th>
                <th>Maximum temperature</th>
                <th>Humidity</th>
                <th>Wind speed</th>
                </tr>
                <tr>
                <td>{{ weather_data['weather'][0]['description'] }}</td>
                <td>{{ weather_data['main']['temp'] }} °C</td>
                <td>{{ weather_data['main']['feels_like'] }} °C</td>
                <td>{{ weather_data['main']['temp_min'] }} °C</td>
                <td>{{ weather_data['main']['temp_max'] }} °C</td>
                <td>{{ weather_data['main']['humidity'] }}%</td>
                <td>{{ weather_data['wind']['speed']}} m/s</td>
                </tr>
            </table>
        </div>

    {% else %}
        <p>Weather information not available for this city.</p>
    {% endif %}
</body>
</html>
